body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#app {
    text-align: center;
}

#notes-form {
    margin-bottom: 20px;
}

#notes-list {
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.note {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
